
.new-order-panel{margin: 0px;}
#page-wrapper{
    margin:15px;
}
.order-list{
    border-right: 1px #ddd solid;
    padding:15px 25px 15px 25px;
}
.panel-body{
    padding:0;
}
.table-order{
    margin-top:10px;
} 
.table>tbody>tr.edit-item>td, .table>tbody>tr.edit-item>th,   .table>thead>tr.edit-item>td, .table>thead>tr.edit-item>th {
    padding: 0;
}